.know-ledge {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 8px;
  background: #EDF2F2;;
  color: #44566C;
}

.App {
  margin: auto;
  max-width: 1000px;
}