.button-c {
  width: 330px;
  padding-left: 35px;
  height: 60px;
  border-radius: 20px;
  background: #000;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 29px;
  margin-bottom: 20px;
}

.btn-light {
  background-color: white;
}

/* .btn-light .icon > svg {
  filter: invert(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
} */

.text {
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 117.647% */
  letter-spacing: 0.5px;
}

.btn-light .text {
  color: black;
}